<div class="container-fluid">
  <div class="row">
    <div class="media">
      <%= image_tag @groups.image, class: 'd-flex align-self-start mr-3' %>
      <div class="media-body">
        <p class="mt-0">
        <%= @groups.content%>
        </p>
      </div>
    </div>
  </div>
</div>