<div class="container-fluid">
  <div class="row clearfix">
    <%=link_to (tops_path) do %>
      <%= image_tag "sdgs.jpeg", class: 'img-fluid p-3'%>
    <% end %>
    <% @groups.each do |group|%>
      <%= link_to (group_messages_path(group)) do%>
        <%= image_tag group.image.to_s, class: 'img-fluid p-3', :size =>'240x240' %>
      <% end %>
    <% end %> 
  </div>
  <div class="text-center">
    <h3 class="text-warning p-3 font-weight-bold">----------私たちは持続可能な開発目標（SDGs）を支援しています----------</h6>
</div>
