<div class="container-fluid clearfix ">
  <div class="row p-5">
    <div class="mr-5">
      <h1>SDGsとは</h1>
      <p>持続可能な開発目標（SDGs）とは，2001年に策定されたミレニアム開発目標
      <br>（MDGs）の後継として，2015年9月の国連サミットで採択された「持続可能な
      <br>開発のための2030アジェンダ」にて記載された2030年までに持続可能でより
      <br>よい世界を目指す国際目標です。17のゴール・169のターゲットから構成され，
      <br>地球上の「誰一人取り残さない（leave no one behind）」ことを誓って
      <br>います。 SDGsは発展途上国のみならず，先進国自身が取り組むユニバーサル
      <br>（普遍的）なものであり，日本としても積極的に取り組んでいます。</p>
      <a href="https://www.unic.or.jp/activities/economic_social_development/sustainable_development/2030agenda/" target="_blank" rel="noopener">国際連合広報センター</a>
      /
      <a href="https://www.unic.or.jp/files/SDG_Guidelines_AUG_2019_Final_ja.pdf" target="_blank" rel="noopener">カラーホイールを含むSDGsロゴと17のアイコンの使用ガイドライン</a>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lnbFQ9zVwG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
