<div class="container-fluid">
  <div class="row">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lnbFQ9zVwG8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>SDGsとは</h1><p>「Sustainable Development Goals（持続可能な開発目標）」の略称です。そもそもどう発音するかというと、SDGs（エス・ディー・ジーズ）です。最後はGoals（ゴールズ）の略です。

    SDGsは2015年9月の国連サミットで採択されたもので、国連加盟193か国が2016年から2030年の15年間で達成するために掲げた目標です。</p>
  </div>
</div>
