<div class="container">
  <div class="row">
    
    <!-- 4列をサイドメニューに割り当て -->
    <div class="col-xs-4">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">ダッシュボード</a></li>
        <li><a href="#">サーバー１</a></li>
        <li><a href="#">サーバー２</a></li>
        <li><a href="#">サーバー３</a></li>
      </ul>
    </div>
  </div>
</div>