<div class="container-fluid">
  <div class="row">
    <div class="media">
      <img class="d-flex align-self-start mr-3" src="assets/1.png" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0">貧困を無くそう</h5>
          <p>1.1	2030年までに、現在1日1.25ドル未満で生活する人々と定義されている極度の貧困をあらゆる場所で終わらせる。</p>
          <p>1.2	2030年までに、各国定義によるあらゆる次元の貧困状態にある、すべての年齢の男性、女性、子どもの割合を半減させる。</p>
          <p>1.3	各国において最低限の基準を含む適切な社会保護制度および対策を実施し、2030年までに貧困層および脆弱層に対し十分な保護を達成する。</p>
          <p>1.4	2030年までに、貧困層および脆弱層をはじめ、すべての男性および女性の経済的資源に対する同等の権利、ならびに基本的サービス、オーナーシップ、および土地その他の財産、相続財産、天然資源、適切な新技術、およびマイクロファイナンスを含む金融サービスへの管理を確保する。</p>
          <p>1.5	2030年までに、貧困層や脆弱な立場にある人々のレジリエンスを構築し、気候変動に関連する極端な気象現象やその他の経済、社会、環境的打撃や災害に対するリスク度合いや脆弱性を軽減する。</p>
          <p>1.a	あらゆる次元での貧困撲滅のための計画や政策を実施するべく、後発開発途上国をはじめとする開発途上国に対して適切かつ予測可能な手段を講じるため、開発協力の強化などを通じて、さまざまな供給源からの多大な資源の動員を確保する。</p>
          <p>1.b	各国、地域、および国際レベルで、貧困層やジェンダーに配慮した開発戦略に基づいた適正な政策的枠組みを設置し、貧困撲滅のための行動への投資拡大を支援する。</p>
      </div>
    </div>
  </div>
</div>