<div class="container-fluid">
    <div class="row">
    <%= render 'description'%>
    <div class="clearfix"></div>
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="">料理</a></li>
            <li><a href="">アクセス</a></li>
            <li><a href="">皆様のご意見</a></li>
            <li><a href="/questionnaire">アンケート</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!-- メインコンテンツ -->
    </div>

</div><!-- container-fluid -->