<div class="container">
  <div class="row">
    <%=link_to edit_user_registration_path do%>
      <button type="button" class="btn btn-warning" >ユーザー編集</button>
    <%end%>
    <div class="col col-4"><%=current_user.name%></div>
    <div class="col col-4"><%=current_user.email%></div>
    <%= link_to "戻る", :back %>
  </div>
</div>