// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid {
  background: -moz-radial-gradient(#FFF, rgb(242, 255, 120) 40%, rgb(63, 241, 116));
  background: -webkit-radial-gradient(#FFF, rgb(255, 120, 120) 40%, #F13F79);
  background: radial-gradient(#FFF, rgb(120, 251, 255) 40%, rgb(63, 161, 241));
  background-repeat: no-repeat;
}